

.PostForm{
  border: solid 1px var(--color-secondary-dark);
  background-color: var(--color-secondary-dark);
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}

.PostForm textarea {
    width: 100%;
    text-indent: 5px;
    padding-top: 7px;
    border: none;
    color: rgb(32, 32, 32);
    font-size: 14px;
    height: 50px;
}
.PostForm textarea:focus {
    border: none;
    outline: none;
    height: 80px;
}
.TextContainer{
    background-color: white;
    border: solid 1px #e8e8e8;
    padding: 5px 10px;
    z-index: 1;
}


.SubmitPostBtn,
.LoadingBtn{
    border-radius: 3px;
    margin-top: 10px;    
    font-weight: 500;    
    vertical-align: middle;
    align-self: flex-end;
    color: white;
    border: none;
    outline: none;
 }
.SubmitPostBtn  {
    background-color:var(--color-primary-light) ;
    color: white;
    width: 80px;
    height: 30px;
    cursor: pointer;
}
.SubmitPostBtn:hover {
    background-color: var(--color-primary);
}
.LoadingBtn {
    background-color:#9cb4d8;
    width: 70px;
    height: 25px;
    border: none;
    cursor: progress;
}
.SubmitPostBtn:hover,
.SubmitPostBtn:focus,
.SubmitPostBtn:active,
.LoadingBtn :hover,
.LoadingBtn :focus,
.LoadingBtn :active
 {
    outline: none;
    box-shadow : none,
}
